# Ambiente virtual
.venv/
venv/
env/

# Banco de dados local
*.db
*.sqlite3

# Variáveis de ambiente
.env

# Cache Python
__pycache__/
*.py[cod]
*.pyo

# Distribuição / build
dist/
build/
*.egg-info/

# IDEs
.vscode/
.idea/

# Sistema operacional
.DS_Store
Thumbs.db


*.docx